---
import type { GetStaticPaths } from "astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponseTs } from "../../interfaces/pokemon-list.response";
import Layout from "../../layouts/Layout.astro";

// Codigo server side only - momento de construccion Build Time
export const getStaticPaths = (async ({ paginate }) => {

	const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
	const { results } = await resp.json() as PokemonListResponseTs;

	return paginate(results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const title = `Pokemón Static | Home`;
const { page } = Astro.props;
---

<Layout title={title}>
	<h1 class="text-3xl">Listado de Pokemons</h1>
	<hr />
	<section
		aria-label="Listado de Pokemons"
		class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-4"
	>
	{
		page.data.map((pokemon) => (
			<PokemonCard 
				name = {pokemon.name}
				url = {pokemon.url}
			/>
		))
	}
	</section>
	<section
		class="flex mt-10 gap-2 items-center"
	>
		<a 
			class:list={[
				"btn",
				{
					disabled: !page.url.prev
				}
			]}
			href={ page.url.prev }
		>Anteriores</a>
		<a 
			class:list={[
				"btn",
				{
					disabled: !page.url.next
				}
			]}
			href={ page.url.next }
		>Siguientes</a>

		<div class="flex flex-1"></div>
		<span class="text-xl font-bold ">Página { page.currentPage }</span>
	</section>
		
</Layout>

<style>
	@reference "../../styles/global.css";

	.btn{
		@apply bg-orange-500 p-2 text-white rounded-md;
	}

	.disabled {
		@apply opacity-50;
	}

</style>