---
import Title from "@components/shared/Title.astro"
import Layout from "@layouts/Layout.astro"
import { Counter } from "@components/counter"
---

<Layout title="Favoritos">
  <Title>Favoritos</Title>

  <div
    style={{
      height: '2000px',
      backgroundColor: 'orange',
      opacity: 0.4,
    }}
  >
  </div>

  <!-- <Counter client:only="solid-js" /> -->
  <Counter client:visible />
</Layout>